@page
@model Schedule.Pages.ScheduleMn.Index

@{
    ViewData["Title"] = "View Schedule";
}

<style>
    th, td {
    border: 1px solid black;
    padding: 6px 30px 6px 30px;
    }
    
    th{
    color: white;
    }
    
    table{
       border-collapse: collapse;
       }
</style>

<h1>Schedule</h1>
<br/>

<table>
    <tr style="background-color: #0d6efd;">
        <th>
            <form method="post" asp-page-handler="filter">
                <select name="ClassIdSelected" onchange="this.form.submit()">
                    <option value="0">All classes</option>
                    @foreach (var c in Model.Classes)
                    {
                        <option value="@c.Id" selected="@(Model.ClassIdSelected == c.Id ? "selected" : null)">@c.Code</option>
                    }
                </select>
            </form>
        </th>
        <th>MON</th>
        <th>TUE</th>
        <th>WED</th>
        <th>THU</th>
        <th>FRI</th>
        <th>SAT</th>
        <th>SUN</th>
    </tr>

    @for (int i = 0; i < 4; i++)
    {
        <tr>
            <td>Slot @(i + 1)</td>
            @for (int j = 0; j < 7; j++)
            {
                if (Model.Data[i, j] != null)
                {
                    <td>
                        @Model.Data[i, j].Subject.Code <br/>
                        @Model.Data[i, j].Room.Code <br/>
                        @Model.Data[i, j].Teacher.Code
                    </td>
                }
                else
                {
                    <td></td>
                }
            }
        </tr>
    }
</table>